body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the page takes up at least the viewport height */
  }
  
  .footer {
    position: fixed;
    bottom: 0;
    background-color: #ffffff;
    padding: 0.1rem;
    // text-align: center;
    // margin-top: auto; /* Push the footer to the bottom of the page */
    // left: 0;
    width: 100%;
    border-top: 1px solid lightgray;
   
    .icons-section{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-size: 20px;
      color: gray;
    }
  }
  


 