.gallery-page {
  margin-bottom: 3rem;
}

.container {
  margin-left: 20px;
  margin-right: 20px;
}

.section-title {
  font-size: 2rem;
  color: #372121;
  margin: 0;
  padding: 0.75em 0.25em;
  // background: #2c2c2c;
  line-height: 1.1em;
}

.photo-list {
  columns: 200px;
  break-inside: avoid;
  padding: 0;
}

.photo-list-item {
  list-style-type: none;
}

.photo-image {
  width: 100%;
  display: block;
  object-fit: cover;
  margin-top: 0px;
  margin-bottom: 20px;
  border: 1px solid black;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}
