.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;

  .header-homepage {
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;

    a {
      text-decoration: none;
      color: white;
      font-size: 18px;

    }

  }

  .hero-container {
    object-fit: cover;
    min-height: 100vh;
    min-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s ease 0s;

    .links-categories {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      transition: all 1s ease 0s;

      a {
        // border: 1px solid white;
        text-decoration: none;
        color: white;
        padding: 1.1rem;
        transition: all 1s ease 0s;
        font-family: Chivo;
        font-weight: 400;
        font-family: 'Helvetica Neue', 'Arial', 'sans-serif';
        font-size: large;
      }

      :hover {
        // color: rgb(84, 82, 82);
        // background-color: white;
        scale: 1.2;
        transition: all 0.25s ease 0s;
      }
    }
  }

  // .grid-container {
  //   columns: 2 100px;
  //   column-gap: 1.5rem;
  //   // width: 50%;
  //   // padding: 20px 0px 0px 0px;
  //   margin: 0 auto;
  //   // cursor: pointer;
  //   text-align: center;
  //   padding-bottom: 40px;


  //   .grid-item {
  //     width: 150px;
  //     // margin: 0 1.5rem 1.5rem 0;
  //     margin-bottom: 34px;
  //     display: inline-block;
  //     width: 88%;
  //     // border: solid 2px #bbbbbb;
  //     // padding: 5px;
  //     // box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  //     // border-radius: 5px;
  //     transition: all 0.25s ease-in-out;
  //     position: relative; // Added for positioning the overlay

  //     .category-name {
  //       text-align: center;
  //       // font-family: dancingScript-bold;
  //       color: rgb(61, 61, 60);
  //       font-size: x-large;
  //       font-family: auto;
  //       transition: 0.6s all;

  //     }

  //     &:hover {
  //       border-color: rgb(91, 75, 70);

  //       img,
  //       video {
  //         filter: grayscale(100%);
  //       }

  //       // Show the overlay on hover
  //       .category-overlay {
  //         opacity: 1;
  //         transform: translate(-50%, -50%) scale(1.2);
  //       }
  //     }

  //     img,
  //     video {
  //       width: 100%;
  //       filter: grayscale(0);
  //       // border-radius: 5px;
  //       transition: all 0.25s ease-in-out;
  //     }

  //     .category-overlay {
  //       // Position the overlay in the middle
  //       position: absolute;
  //       top: 50%;
  //       left: 50%;
  //       transform: translate(-50%, -50%);

  //       // Styling for the overlay
  //       background-color: rgba(0, 0, 0, 0.8);
  //       color: white;
  //       padding: 8px 16px;
  //       border-radius: 5px;
  //       font-size: 18px;
  //       // opacity: 0;
  //       transition: all 0.25s ease-in-out;
  //     }

  //     p {
  //       margin: 5px 0;
  //       padding: 0;
  //       text-align: center;
  //       font-style: italic;
  //     }
  //   }
  // }
}

@media (max-width : 700px) {
  .home-page {
    .grid-container {
      columns: 1;
    }
  }
}