.photo-preview {
  transition: transform 0.3s ease;
  overflow: hidden;
  width: fit-content;
  // width: 400px;
  height: 300px;
  position: relative;

  &:hover {
    opacity: 0.8;

    .delete-button {
      display: block;
    } 
  }
}

.delete-button {
  display: none;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: transparent;
  color: lightgrey;
  border: none;
  cursor: pointer;
}

.photo-preview img {
  // width: 20.125rem;
  height: 20.125;
  object-fit: cover;
}


.details-link {
  text-decoration: none;
  color: rgb(89, 115, 28)
}

img {
  width: 100%;
  /* Set the image width to 100% of the container */
  height: auto;
  /* Allow the height to adjust automatically based on the aspect ratio */
  object-fit: cover;

  // width: 100%;
  display: block;
  object-fit: cover;
  margin-top: 0px;
  // margin-bottom: 20px;
  border: 1px solid#c3bebe;
  // box-shadow: 1px 3px 8px rgba(0,0,0,0.5);
}
.photo-preview img,
.photo-preview video {
  // width: 100%; /* Set the image or video width to 100% of the container */
  height: 100%; /* Set the image or video height to 100% of the container */
  object-fit: cover;
}