.photo-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 38px;
    margin-bottom: 40px;
    justify-items: center
  }
  
  .photo-category {
    text-align: center;
  }
  
  .category-title {
    font-size: 28px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px;
  }
  
 
  
  @media screen and (max-width: 768px) {
    .photo-list {
      grid-template-columns: 1fr;
    }
  }
  