.photo-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
    .photo-category {
      margin-bottom: 20px;
  
      &__title {
        font-size: 18px;
        font-weight: bold;
      }
  
      &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
  
        .photo-preview {
          margin: 10px;
  
          img {
            width: 200px;
            height: 150px;
            object-fit: cover;
          }
        }
      }
    }
  }
  